body {
	font-family: monospace;
	display: flex;
	
	height: 100%;
}

.container {
	max-width: 600px; 
	margin: 0 auto;
	padding: 20px;
}

h1
{
	text-align: center;
}

input[type="number"] {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
	max-height: 50px;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #afa54c;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #e01e17;
}

#results {
	margin-top: 20px;
}

#results img {
	margin-right: 10px;
	width: 100px;
	height: auto;
}

#results h2 {
	font-size: 24px;
	color: #333333;
}

#results p {
	font-size: 18px;
	color: #555;
}
